<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InitialHours" value="0"/>
    <add key="InitialMinutes" value="5"/>
    <add key="InitialSeconds" value="0"/>

    <add key="Beep" value="false"/>
    <add key="SecondsOnZero" value="15"/>
  </appSettings>
</configuration>